!!! 5

h2 Edit Deck
.row
  .span8
    form.form-horizontal.well
      .control-group
        label.control-label.text-left(for="titleField") Title
        .controls
          input(type="text", placeholder="Title", ng-model="deck.title", id="titleField")
      .control-group
        label.control-label.text-left(for="publicField") Public
        .controls
          input(type="checkbox", ng-model="deck.public")
      .control-group
        .controls
          button.btn.btn-primary(ng-click="submit()") Save
      .control-group
        .controls
          button.btn(ng-click="info()") Info
    .well
      form(ng-submit="addCardByName(newCard)")
        label(for="addCardField") Add Card
        .input-append
          input(type="text", ng-model="newCard", bs-typeahead="possibleCards", ng-change="findCardByName(newCard)", id="addCardField", placeholder="Card Name")
          button.btn(type="button", ng-click="addCardByName(newCard)")
            i.icon-plus
      .row-fluid
        .span9
          .span4(ng-repeat="cardType in cardTypes", ng-show="(filteredCards = (deck.cards|isType:cardType)).length")
            h3 {{cardType}}
            div(ng-repeat="card in filteredCards|orderBy:'card.name'")
              p(ng-mouseover="setViewedCard(card)", data-toggle="collapse", data-target="#card-{{card._id}}-{{cardType}}") {{card.quantity}} {{card.card.name}}
              .collapse(id="card-{{card._id}}-{{cardType}}")
                p.btn-group
                  button.btn.btn-mini(ng-click="decrementCardCount(card)")
                    i.icon-minus
                  button.btn.btn-mini(ng-click="incrementCardCount(card)")
                    i.icon-plus
                  button.btn.btn-danger.btn-mini(ng-click="removeCard(card)")
                    i.icon-remove
  .span4
    .well(ng-show="viewedCard")
      a(href="{{viewedCard.card.gathererUrl}}")
        img.img-magiccard(src="{{viewedCard.card.imageUrl}}", ng-show="viewedCard")
