!!! 5

h2 Edit Deck
.row
  form.form-horizontal.span8
    .well
      .control-group
        label.control-label(for="titleField") Title
        .controls
          input(type="text", placeholder="Title", ng-model="deck.title", id="titleField")
      .control-group
        label.control-label(for="publicField") Public
        .controls
          input(type="checkbox", ng-model="deck.public")
      .control-group
        .controls
          button.btn.btn-primary(ng-click="submit()") Save
      .control-group
        .controls
          button.btn(ng-click="info()") Info
    .well
      .row-fluid
        .span3(ng-repeat="cardType in cardTypes", ng-show="(filteredCards = (deck.cards|isType:cardType)).length")

          h3 {{cardType}}
          div(ng-repeat="card in filteredCards")
            a(ng-mouseover="setViewedCardMouseOver(card)", ng-click="setViewedCardClick(card)", data-toggle="collapse", data-target="#card-{{card._id}}-{{cardType}}") {{card.quantity}}x {{card.card.name}}
            br
            .collapse(id="card-{{card._id}}-{{cardType}}")
              p.btn-group
                button.btn.btn-mini(ng-click="decrementCardCount(card)")
                  i.icon-minus
                button.btn.btn-mini(ng-click="incrementCardCount(card)")
                  i.icon-plus
                button.btn.btn-danger.btn-mini(ng-click="removeCard(card)")
                  i.icon-remove
      .control-group
        label.control-label(for="addCardField") Add Card
        .controls
          .input-append
            input(type="text", ng-model="newCard", bs-typeahead="possibleCards", ng-change="findCardByName(newCard)")
            button.btn(ng-click="addCardByName(newCard)")
              i.icon-plus
  .span4
    .well
      img.img-magiccard(src="{{viewedCard.card.imageUrl}}", ng-show="viewedCard")