extends layout
block content
  .container(ng-controller="AppCtrl")
    header
      .navbar.navbar-inverse.navbar-fixed-top(ng-controller="NavCtrl")
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href="/") Mana Flood
            .nav-collapse.collapse
              ul.nav
                li.dropdown(ng-repeat="link in mainLinks", ng-class="{active: link.selected}", data-toggle="collapse", data-target=".nav-collapse")
                  a(href="{{link.url}}", ng-bind="link.title || ''", ng-hide="link.subMenu")
                  a.dropdown-toggle(href="#", ng-bind="link.title || ''", ng-show="link.subMenu", data-toggle="dropdown")
                  ul.dropdown-menu(ng-show="link.subMenu")
                    li(ng-repeat="link in link.subMenu", ng-class="{active: link.selected}")
                      a(href="{{link.url}}") {{link.title}}
              ul.nav.pull-right
                li(ng-repeat="link in userLinks", ng-show="link.whenLogged == userIsLoggedIn", ng-click="select(link)", ng-class="{active: link.selected}", data-toggle="collapse", data-target=".nav-collapse")
                  a(href="{{link.url}}", ng-bind="link.title || ''")
    div(ng-repeat="message in messages", ng-animate="{enter: 'fade-in', leave: 'fade-out', move: 'slide'}", ng-click="removeMessage(message)", ng-init="delay(removeMessage,message,5000)")
      .alert(ng-class="'alert-'+message.type", ng-bind="message.message || ''", ng-show="message")
          button(type="button", class="close", ng-click="removeMessage(message)") &times;
    .row(ui-view ng-animate="{enter: 'fade-in', leave: 'snap-out'}")