extends layout
block content
  .container(ng-controller="AppCtrl")
    header
      .navbar.navbar-inverse.navbar-fixed-top(ng-controller="NavCtrl", bs-navbar)
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href="/") Mana Flood
            .nav-collapse.collapse
              ul.nav
                li(ng-repeat="link in mainLinks", data-match-route="{{link.regex}}")
                  a(ng-bind="link.text || ''", bs-dropdown="link.subMenu", href, ng-show="link.subMenu")
                  a(ng-bind="link.text || ''", href="{{link.href}}", ng-show="!link.subMenu")
              ul.nav.pull-right
                li(ng-repeat="link in userLinks", ng-show="link.whenLogged == userIsLoggedIn", data-match-route="{{link.regex}}")
                  a(href="{{link.href}}", ng-bind="link.text || ''")
    div(ng-repeat="message in messages", ng-animate="{enter: 'fade-in', leave: 'fade-out', move: 'slide'}", ng-click="removeMessage(message)", ng-init="delay(removeMessage,message,5000)", class="ng-cloak")
      .alert(ng-class="'alert-'+message.type", ng-bind="message.message || ''", ng-show="message")
          button(type="button", class="close", ng-click="removeMessage(message)") &times;
    .row(ui-view ng-animate="{enter: 'fade-in', leave: 'snap-out'}")