@import 'lib/bootstrap/bootstrap.styl' // bootstrap-stylus

body {
    padding-top: $navbarHeight;
}

.img-magiccard {
    border-radius: 10px;
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

@import 'lib/bootstrap/responsive'
//@import 'nib'
