div.span8
  h2 Featured Decks
  p.text-warning(ng-hide="featuredDecks || !featuredDecks") Featured decks are loading.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  p.text-error(ng-show="!featuredDecks") There are no featured decks to display.
  div.span2(ng-repeat="deck in featuredDecks", ng-show="featuredDecks")